<h3><i class="fa fa-angle-right"></i> Ingresar Cliente</h3>
<div class="row mt" id="main">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Datos del ciente</h4>
            <form name="clientForm" novalidate class="form-horizontal style-form" ng-submit="submit()">
                <input type="hidden" name="note" ng-model="note" ng-init="Creación registro." />
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">
                        <span ng-show="clientForm.companySource.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="clientForm.companySource.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Tipo Ingreso</label>
                    <div class="col-sm-10">
                        <select name="companySource" class="form-control" ng-model="companySource" required>
                            <option ng-repeat="source in companySources" value="{{source.sourceId}}">{{source.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">
                        <span ng-show="clientForm.companyStatus.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="clientForm.companyStatus.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Estado</label>
                    <div class="col-sm-10">
                        <select name="companyStatus" class="form-control" ng-model="companyStatus" required>
                            <option ng-repeat="status in companyStatusList" value="{{status.statusId}}">{{status.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">
                        <span ng-show="clientForm.clientName.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="clientForm.clientName.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                            Nombre Cliente
                        </label>
                    <div class="col-sm-10">
                        <input type="text" name="clientName" ng-model="clientName" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">
                        <span ng-show="clientForm.contactName.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="clientForm.contactName.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Nombre Contacto</label>
                    <div class="col-sm-10">
                        <input type="text" name="contactName" ng-model="contactName" class="form-control" required/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">
                        <span ng-show="clientForm.phoneNumber.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="clientForm.phoneNumber.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" name="phoneNumber" ng-model="phoneNumber" class="form-control" required/>

                    </div>
                </div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 col-sm-2 control-label">Tipo Documento</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="documentType">
                            <option>CC</option>
                            <option>NIT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 col-sm-2 control-label">Numero Documento</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="documentNumber">
                    </div>
                </div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 col-sm-2 control-label">Telefono 2</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="phoneNumber2" class="form-control" ng-model="phoneNumber2">
                    </div>
                </div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 col-sm-2 control-label">Dirección</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="address" class="form-control" ng-model="address">
                    </div>
                </div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="email" class="form-control" ng-model="email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-theme" ng-click="hideShow()">
                            <span ng-class="visibleField?'glyphicon glyphicon-minus':'glyphicon glyphicon-plus'" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-theme">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- col-lg-12-->
</div>

