<h3><i class="fa fa-angle-right"></i> Gestionar</h3>
<input type="hidden" ng-model="page"/>
<input type="hidden" ng-model="clientId" id="clientId"/>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Lista de prospectos</h4>
            <form name="clientForm" novalidate class="form-horizontal style-form" ng-submit="search()">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Empresa</label>
                    <div class="col-sm-10">
                        <div class="padded-row">
                            <angucomplete-alt id="ex1"
                                          placeholder=""
                                          pause="100"
                                          selected-object="selectedClient"
                                          local-data="clients"
                                          search-fields="clientName"
                                          title-field="clientName"
                                          minlength="1"
                                          input-class="form-control form-control-small"/>
                        </div>
                        <div class="result">
                            <div ng-show="selectedCompany">
                                You selected <span class="bold-span">{{selectedCompany.originalObject.clientName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-theme">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt" id="main" ng-show="showList">
    <div class="col-lg-12">
        <div class="content-panel">
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Compañía</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clientList">
                        <td>{{client.clientName}}</td>
                        <td>{{client.phoneNumber}}</td>
                        <td ng-init="statusName = getStatusName(client.statusId)">{{statusName}}</td>
                        <td class="text-center">
                            <a href="#/manageclient/{{client.clientId}}" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-center">
                            <button type="button" class="btn btn-primary" ng-click="getClientList()" ng-show="showMoreButton && !loading">Más</button>
                            <div class="progress center-block" ng-show="loading" style="width: 200px;">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    {{loadingMessage}}
                                </div>
                            </div>
                            <a id="bottom"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div>