<div class="wrapper-md" >
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="forms.clientForm" class="form-horizontal" novalidate ng-submit="submit()">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Activo
                    </label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" ng-model="client.enabled"  ng-true-value="true" ng-false-value="false">
                                <i></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group" ng-hide="client.enabled">
                    <label class="col-sm-2 col-sm-2 control-label">
                        <span ng-show="forms.clientForm.note.$error.required && !client.enabled"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-show="!forms.clientForm.note.$error.required && !client.enabled"><i class="fa fa-check-circle-o text-success"></i></span>
                        Nota
                    </label>
                    <div class="col-sm-10">
                            <textarea name="note" ng-model="client.note" class="form-control" rows="3" ng-required="!client.enabled">
                            </textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in" ng-hide="client.enabled"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span ng-show="forms.clientForm.sourceId.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="forms.clientForm.sourceId.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Modo ingreso</label>
                    <div class="col-sm-10">
                        <select name="sourceId" id="sourceId" class="form-control" ng-model="client.sourceId" required>
                            <option value="">Seleccionar fuente</option>
                            <option ng-repeat="source in companySources" value="{{source.id}}">{{source.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span ng-show="forms.clientForm.statusId.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="forms.clientForm.statusId.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Estado</label>
                    <div class="col-sm-10">
                        <select name="statusId" id="statusId" class="form-control" ng-model="client.statusId" required>
                            <option value="">Seleccionar estado</option>
                            <option ng-repeat="status in companyStatusList" value="{{status.id}}">{{status.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="clientName">
                        <span ng-show="forms.clientForm.clientName.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="forms.clientForm.clientName.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Nombre Cliente</label>
                    <div class="col-sm-10">
                        <input type="text" name="clientName" id="clientName" ng-model="client.clientName" class="form-control" required/>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="contactName">
                        <span ng-show="forms.clientForm.contactName.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="forms.clientForm.contactName.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                        Nombre Contacto</label>
                    <div class="col-sm-10">
                        <input type="text" name="contactName" id="contactName" ng-model="client.contactName" class="form-control" required/>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="phoneNumber">
                        <span ng-show="forms.clientForm.phoneNumber.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                        <span ng-hide="forms.clientForm.phoneNumber.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" name="phoneNumber" id="phoneNumber" ng-model="client.phoneNumber" class="form-control" required/>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in" ng-show="visibleField"></div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 control-label">Tipo Documento</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="client.documentType">
                            <option value="">Seleccionar Tipo Documento</option>
                            <option>CC</option>
                            <option>NIT</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in" ng-show="visibleField"></div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 control-label" for="documentNumber">Numero Documento</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="documentNumber" ng-model="client.documentNumber">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in" ng-show="visibleField"></div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 control-label" for="phoneNumber2">Telefono 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phoneNumber2" ng-model="client.phoneNumber2">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in" ng-show="visibleField"></div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 control-label" for="address">Dirección</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" ng-model="client.address">
                    </div>
                </div>
                <div class="form-group" ng-show="visibleField">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="client.email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn m-b-xs btn-info" ng-click="hideShow()">
                            <i ng-class="visibleField?'glyphicon glyphicon-minus btn-info':'glyphicon glyphicon-plus'" aria-hidden="true"></i> <span ng-hide="visibleField">Más Datos</span><span ng-show="visibleField">Menos Datos</span>                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center">
                        <button type="submit" class="btn m-b-xs w-xs btn-primary" ng-hide="savingClient">Enviar</button>
                        <div class="progress" ng-show="savingClient">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span>Guardando...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </form>
        </div>
    </div>
</div>
