<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Historial,  client.clientName: {{client.clientName}}</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Fecha / Hora</th>
                        <th>Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clientLog in client.clientLogs">
                        <td>{{clientLog.logDate | date:'medium'}}</td>
                        <td>{{clientLog.log.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div>