<div class="row mt" id="clientProducts">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Productos</h4>
            <form name="forms.clientProductsForm" novalidate class="form-horizontal style-form" ng-submit="submitClientProducts()">

                <div class="form-group" ng-repeat="product in user.companyProducts">
                    <label class="col-sm-2 col-sm-2 control-label">
                        {{product.name}}
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="product.value" class="form-control" required ng-disabled="!client.enabled"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-theme">Guardar</button>
                    </div>

                </div>
            </form>
        </div>
    </div><!-- col-lg-12-->
</div>