<div>
<ul class="nav nav-tabs">
        <li ng-class="selectedTab==1?'active':''">
            <a href="" ng-click="selectedTab = 1">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Cliente
            </a>
        </li>
        <li ng-class="selectedTab==2?'active':''">
            <a href="" ng-click="selectedTab = 2">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Productos
            </a>
        </li>
        <li ng-class="selectedTab==3?'active':''">
            <a href="" ng-click="selectedTab = 3">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendario
            </a>
        </li>
        <li ng-class="selectedTab==4?'active':''">
            <a href="" ng-click="selectedTab = 4">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Historial
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div ng-class="selectedTab==1?'tab-pane active':'tab-pane'" id="client">
            <div ng-include="'/views/manageClient/clientForm.html'"></div>
        </div>
        <div ng-class="selectedTab==2?'tab-pane active':'tab-pane'" id="products">
            <div ng-include="'/views/manageClient/clientProducts.html'"></div>
        </div>
        <div ng-class="selectedTab==3?'tab-pane active':'tab-pane'" id="calendar">
            <div ng-include="'/views/manageClient/clientCalendar.html'"></div>
        </div>
        <div ng-class="selectedTab==4?'tab-pane active':'tab-pane'" id="history">
            <div ng-include="'/views/manageClient/clientHistory.html'"></div>
        </div>
    </div>
    </div>


<div id="disableAlert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Razón por la que desactiva al cliente</h4>
            </div>
            <div class="modal-body">
                    <textarea name="disableNote" ng-model="client.note" class="form-control" rows="3" required>
                    </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>