<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER"></span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Dashboard</span>
    </a>
  </li>
  <!--<li ui-sref-active="active">
    <a ui-sref="app.dailyTasks">
      <b class="badge bg-info pull-right">9</b>
      <i class="glyphicon glyphicon glyphicon-th-list icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.DAYLY">Labores del día</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.funnel">
      <i class="glyphicon glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold" translate="aside.nav.FUNNEL">Funnel</span>
    </a>
  </li>-->
  <li ui-sref-active="active">
    <a>
      <i class="glyphicon glyphicon glyphicon glyphicon-user icon text-primary"></i>
      <span class="font-bold" translate="aside.nav.CLIENTS">Clientes</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href="">
          <span translate="aside.nav.CLIENTS" class="ng-scope">Clientes</span>
        </a>
      </li>
      <li ui-sref-active="active" class="active">
        <a ui-sref="app.addClient" href="#/app/addClient">
          <span>Crear</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.listClients" href="#/app/listClients">
          <span>Listar</span>
        </a>
      </li>
    </ul>
  </li>
  <!--<li ui-sref-active="active">
    <a ui-sref="app.calendar">
      <i class="glyphicon glyphicon-calendar icon text-info"></i>
      <span class="font-bold" translate="aside.nav.CALENDAR">Calendario</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.goals">
      <i class="glyphicon glyphicon-star icon text-danger"></i>
      <span class="font-bold" translate="aside.nav.GOALS">Metas</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="#>
      <b class="badge bg-info pull-right">5</b>
      <i class="glyphicon glyphicon-envelope icon text-primary"></i>
      <span class="font-bold" translate="aside.nav.NOTIFICATIONS">Notificaciones</span>
    </a>
  </li>
  <li class="line dk hidden-folded"></li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.your_stuff.YOUR_STUFF" class="ng-scope">Your Stuff</span>
  </li>
  <li>
    <a href="#">
      <i class="icon-user icon text-success-lter"></i>
      <span translate="aside.nav.your_stuff.PROFILE" class="ng-scope">Profile</span>
    </a>
  </li>-->
  <li class="line dk hidden-folded"></li>
</ul>
<!-- / list -->
