<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Labores del día</h1>
</div>
<div class="wrapper-md" ng-controller="DailyTasksCtrl">
    <div class="row">
        <div class="col-md-10">
            <div class="input-group w-md">
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </div>
        </div>
        <div class="col-md-2">
            <a ui-sref="app.addClient" href="#" class="btn btn-addon btn-sm btn-success m-t-xs"><i class="glyphicon glyphicon-plus"></i> Ver todas</a>

        </div>
    </div>
    <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp" >

        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" checked="" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        ISSE SAS: <span class="text-success">Llamar</span>
                    </div>
                    <div class="col-md-2">08:00 AM</div>
                </div>
            </div>
        </li>
        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" checked="" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        Comercializadora el portento del país: <span class="text-success">Cita</span>
                    </div>
                    <div class="col-md-2">10:00 AM</div>
                </div>
            </div>
        </li>
        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        Mtw consultores sas: <span class="text-success">Cita</span>
                    </div>
                    <div class="col-md-2">01:00 PM</div>
                </div>
            </div>
        </li>
        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        Fundación los opitas: <span class="text-success">Radicar</span>
                    </div>
                    <div class="col-md-2">03:00 PM</div>
                </div>
            </div>
        </li>
        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        Tovar ingeniería sas: <span class="text-success">Llamar</span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </li>
        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        XSSX sa: <span class="text-success">propuesta</span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </li>
        <li class="list-group-item" draggable="true">
            <span class="pull-right">
              <label class="i-checks">
                <input type="checkbox" value="">
                <i></i>
              </label>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
                <div class="row">
                    <div class="col-md-10">
                        Agencia los nicuros: <span class="text-success">@</span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </li>
    </ul>

</div>
