<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;"
     ng-controller="DashboardCtrl">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                    <small class="text-muted">Welcome to angulr application</small>
                </div>
                <div class="col-sm-6 text-right hidden-xs">
                    <div class="inline m-r text-left">
                        <div class="m-b-xs">1290 <span class="text-muted">items</span></div>
                        <div ng-init="d3_1=[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ]" ui-jq="sparkline" ui-options="[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ], {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" class="sparkline inline"><canvas width="101" height="20" style="display: inline-block; width: 101px; height: 20px; vertical-align: top;"></canvas></div>
                    </div>
                    <div class="inline text-left">
                        <div class="m-b-xs">$30,000 <span class="text-muted">revenue</span></div>
                        <div ng-init="d3_2=[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ]" ui-jq="sparkline" ui-options="[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ], {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" class="sparkline inline"><canvas width="101" height="20" style="display: inline-block; width: 101px; height: 20px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md" >
            <!-- stats -->
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Labores
                        </div>
                    <div class="wrapper-md ng-scope">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="input-group w-lg">
                                            <input type="text" class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="input-group-btn dropdown" dropdown="" style="">
                                            <a href="#/app/storeTask" type="button" class="btn btn-success" aria-expanded="false">Crear</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group-btn" dropdown="" style="">
                                            <button ng-click="getAllTasks()" type="button" class="btn btn-info" dropdown-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ver todas </button>
                                        </div>
                                    </div></form>
                            </div></div>
                        <div ng-show="loadedTasks">
                        <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp" style="margin-bottom:0px">

            <li class="list-group-item" ng-repeat="task in taskList | hasHour:true" draggable="false">
                <span class="pull-right">
                    <a href="#/app/manageClient/{{task.clientId}}/{{task.taskId}}"><i class="fa fa-pencil fa-fw m-r-xs" style="font-size: 26px;"></i></a>
                </span>
                <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
                <div class="clear">
                    <div class="row">
                        <div class="col-md-5">
                            {{task.clientName}}
                        </div>
                        <div class="col-md-2">
                            <span class="text-success">{{task.taskTypeName}}</span>
                        </div>
                        <div class="col-md-5">{{task.taskDate | date:'dd/MM/yyyy hh:mm a'}}</div>
                    </div>
                </div>
            </li>
        </ul>
                        <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp">
            <li class="list-group-item bg-primary" ng-repeat="task in taskList | hasHour:false" draggable="true">
                <span class="pull-right">
                    <a href=""><i class="fa fa-pencil fa-fw m-r-xs" style="font-size: 26px;"></i></a>
                    <a href=""><i class="fa fa-times fa-fw" style="font-size: 26px;"></i></a>
                </span>
                <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
                <div class="clear">
                    <div class="row">
                        <div class="col-md-5">
                            {{task.clientName}}
                        </div>
                        <div class="col-md-2">
                            <span class="text-success">{{task.taskTypeName}}</span>
                        </div>
                        <div class="col-md-5">{{task.taskDate | date:'dd/MM/yyyy'}}</div>
                    </div>
                </div>
            </li>
           </ul>
                        </div>
            <div ng-hide="loadedTasks">
                <img src="img/loading_small.svg" class="img-responsive" style="margin: 0 auto">
            </div>
            <div class="panel panel-info" ng-hide="hasTasks">
                <div class="panel-body">

                    <div class="clear text-center">
                        No hay tareas

                    </div>
                </div>
            </div>

        </div>
    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel b-a">
                        <div class="panel-heading bg-info dk no-border wrapper-lg">
                            <button class="btn btn-sm btn-icon btn-rounded btn-info pull-right m-r"><i class="fa fa-phone"></i></button>
                            <button class="btn btn-sm btn-icon btn-rounded btn-info m-l"><i class="fa fa-heart"></i></button>
                        </div>
                        <div class="text-center m-b clearfix">
                            <div class="thumb-lg avatar m-t-n-xxl">
                                <img src="img/a5.jpg" alt="..." class="b b-3x b-white">
                                <div class="h4 font-thin m-t-sm">Jacobs Simon</div>
                            </div>
                        </div>
                        <div class="padder-v b-t b-light bg-light lter row text-center no-gutter">
                            <div class="col-xs-4">
                                <div>Facebook</div>
                                <div class="inline m-t-sm">
                                    <div ui-jq="easyPieChart" ui-options="{
                      percent: 30,
                      lineWidth: 3,
                      trackColor: '#e8eff0',
                      barColor: '#7266ba',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                                        <div>
                                            <span class="step">30</span>%
                                        </div>
                                        <canvas width="65" height="65"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div>Twitter</div>
                                <div class="inline m-t-sm">
                                    <div ui-jq="easyPieChart" ui-options="{
                      percent: 50,
                      lineWidth: 3,
                      trackColor: '#e8eff0',
                      barColor: '#23b7e5',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 90,
                      animate: 1000
                    }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                                        <div>
                                            <span class="step">50</span>%
                                        </div>
                                        <canvas width="65" height="65"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div>Linkin</div>
                                <div class="inline m-t-sm">
                                    <div ui-jq="easyPieChart" ui-options="{
                      percent: 20,
                      lineWidth: 3,
                      trackColor: '#e8eff0',
                      barColor: '#fad733',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 180,
                      animate: 1000
                    }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                                        <div>
                                            <span class="step">20</span>%
                                        </div>
                                        <canvas width="65" height="65"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="hbox text-center b-t b-light">
                            <a href="" class="col padder-v text-muted b-r b-light">
                                <div class="h4">5032</div>
                                <span>Posts</span>
                            </a>
                            <a href="" class="col padder-v text-muted">
                                <div class="h4">689</div>
                                <span>Photos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / stats -->

            <!-- service -->

            <!-- / service -->

            <!-- tasks -->

            <!-- / tasks -->

            <!-- tasks -->

            <!-- / tasks -->
        </div>
    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-white-only b-l bg-auto no-border-xs">

        <div class="padder-md">
            <div class="col wrapper-lg w-lg bg-light dk r-r">
                <h4 class="font-thin m-t-none m-b">Reports</h4>
                <div class="">
                    <div class="">
                        <span class="pull-right text-primary">60%</span>
                        <span>Consulting</span>
                    </div>
                    <div class="progress progress-xs m-t-sm bg-white">
                        <div class="progress-bar bg-primary" data-toggle="tooltip" data-original-title="60%" style="width: 60%"></div>
                    </div>
                    <div class="">
                        <span class="pull-right text-info">35%</span>
                        <span>Online tutorials</span>
                    </div>
                    <div class="progress progress-xs m-t-sm bg-white">
                        <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="35%" style="width: 35%"></div>
                    </div>
                    <div class="">
                        <span class="pull-right text-warning">25%</span>
                        <span>EDU management</span>
                    </div>
                    <div class="progress progress-xs m-t-sm bg-white">
                        <div class="progress-bar bg-warning" data-toggle="tooltip" data-original-title="23%" style="width: 25%"></div>
                    </div>
                </div>
                <p class="text-muted">Dales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
            </div>
        </div>
        <div class="padder-md">
            <!-- streamline -->
            <div class="m-b text-md">Recent Activity</div>
            <div class="streamline b-l m-b">
                <div class="sl-item">
                    <div class="m-l">
                        <div class="text-muted">5 minutes ago</div>
                        <p><a href="" class="text-info">Jessi</a> commented your post.</p>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="m-l">
                        <div class="text-muted">11:30</div>
                        <p>Join comference</p>
                    </div>
                </div>
                <div class="sl-item b-success b-l">
                    <div class="m-l">
                        <div class="text-muted">10:30</div>
                        <p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
                    </div>
                </div>
                <div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
                    Create tasks for the team
                </div>
                <div class="sl-item b-primary b-l">
                    <div class="m-l">
                        <div class="text-muted">Wed, 25 Mar</div>
                        <p>Finished task <a href="" class="text-info">Testing</a>.</p>
                    </div>
                </div>
                <div class="sl-item b-warning b-l">
                    <div class="m-l">
                        <div class="text-muted">Thu, 10 Mar</div>
                        <p>Trip to the moon</p>
                    </div>
                </div>
                <div class="sl-item b-info b-l">
                    <div class="m-l">
                        <div class="text-muted">Sat, 5 Mar</div>
                        <p>Prepare for presentation</p>
                    </div>
                </div>
                <div class="sl-item b-l">
                    <div class="m-l">
                        <div class="text-muted">Sun, 11 Feb</div>
                        <p><a href="" class="text-info">Jessi</a> assign you a task <a href="" class="text-info">Mockup Design</a>.</p>
                    </div>
                </div>
                <div class="sl-item b-l">
                    <div class="m-l">
                        <div class="text-muted">Thu, 17 Jan</div>
                        <p>Follow up to close deal</p>
                    </div>
                </div>
            </div>
            <!-- / streamline -->
        </div>
        <div data-ng-include=" 'tpl/blocks/aside.right.html' ">

            <!-- aside right -->
            <div class="app-aside-right pos-fix no-padder w-md w-auto-xs bg-white b-l animated fadeInRight hide">
                <div class="vbox">
                    <div class="wrapper b-b b-t b-light m-b">
                        <a href="" class="pull-right text-muted text-md" ui-toggle-class="show" target=".app-aside-right"><i class="icon-close"></i></a>
                        Chat
                    </div>
                    <div class="row-row">
                        <div class="cell">
                            <div class="cell-inner padder">
                                <!-- chat list -->
                                <div class="m-b">
                                    <a href="" class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
                                    <div class="clear">
                                        <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                                            <span class="arrow left pull-up"></span>
                                            <p class="m-b-none">Hi John, What's up...</p>
                                        </div>
                                        <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                    </div>
                                </div>
                                <div class="m-b">
                                    <a href="" class="pull-right thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
                                    <div class="clear">
                                        <div class="pos-rlt wrapper-sm bg-light r m-r-sm">
                                            <span class="arrow right pull-up arrow-light"></span>
                                            <p class="m-b-none">Lorem ipsum dolor :)</p>
                                        </div>
                                        <small class="text-muted">1 minutes ago</small>
                                    </div>
                                </div>
                                <div class="m-b">
                                    <a href="" class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
                                    <div class="clear">
                                        <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                                            <span class="arrow left pull-up"></span>
                                            <p class="m-b-none">Great!</p>
                                        </div>
                                        <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i>Just Now</small>
                                    </div>
                                </div>
                                <!-- / chat list -->
                            </div>
                        </div>
                    </div>
                    <div class="wrapper m-t b-t b-light">
                        <form class="m-b-none">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Say something">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">SEND</button>
            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- / aside right -->

        </div>
    </div>
    <!-- / right col -->
</div>