
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Funnel</h1>
</div>
<div class="wrapper-md" ng-controller="FunnelCtrl">
    <div class="panel panel-default">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th width="50"></th>
                <th st-sort="companyName">Cliente</th>
                <th st-sort="v">V</th>
                <th st-sort="v">A</th>
                <th st-sort="v">B</th>
                <th st-sort="amount">$</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in funnel">
                <td>{{row.state}}</td>
                <td>{{row.companyName}}</td>
                <td>{{row.v}}</td>
                <td>{{row.a}}</td>
                <td>{{row.b}}</td>
                <td class="custom-cell">{{row.amount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>