<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Metas</h1>
</div>
<div class="wrapper-md" ng-controller="GoalsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">

        </div>
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">Metas</label>
                <div class="col-sm-10">
                    <select name="account" class="form-control m-b rounded">
                        <option>OCTUBRE 2015</option>
                        <option>NOVIEMBRE 2015</option>
                        <option>DICIEMBRE 2015</option>
                        <option>ENERO 2016</option>
                        <option>FEBRERO 2016</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Voz</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-6">
                            <input value="30">
                        </div>
                        <div class="col-md-6">
                            25%
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">M2M</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-6">
                            <input>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">BA</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-6">
                            <input value="2">
                        </div>
                        <div class="col-md-6">
                            5%
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">INGRESO</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-6">
                            <input value="$1.654.251">
                        </div>
                        <div class="col-md-6">
                            60%
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">APP</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-6">
                            <input value="2">
                        </div>
                        <div class="col-md-6">
                            10%
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
