<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Gestionar</h1>
</div>
<div class="wrapper-md" ng-controller="ListClientsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lista de prospectos
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>Compañía</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clientList">
                    <td>{{client.clientName}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td>{{client.clientStatus}}</td>
                    <td class="text-center">
                        <a href="#/app/manageClient/{{client.clientId}}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="getClientList()" ng-show="showMoreButton && !loading">Más</button>
                        <div class="progress center-block" ng-show="loading" style="width: 200px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                {{loadingMessage}}
                            </div>
                        </div>
                        <a id="bottom"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>