<div ng-controller="ManageClientCtrl">
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Información Cliente: {{client.clientName}}</h1>
</div>
<div class="wrapper-md">
    <tabset class="tab-container">
        <tab heading="Datos Básicos">
            <div ng-include="'/views/manageClient/clientForm.html'"></div>
        </tab>
        <tab heading="Tareas" active="taskActive">
            <div ng-include="'/views/manageClient/clientCalendar.html'"></div>
        </tab>
        <tab heading="Productos">
            <div ng-include="'/views/manageClient/clientProducts.html'"></div>
        </tab>
        <tab heading="Historial">
            <div ng-include="'/views/manageClient/clientHistory.html'"></div>
        </tab>
    </tabset>

    </div>
</div>