<!-- content -->
<div id="content" role="main" ng-controller="StoreTaskCtrl">
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <ui-select ng-model="client.selected" theme="bootstrap">
                        <ui-select-match placeholder="Seleccionar Cliente">{{$select.selected.clientName}}</ui-select-match>
                        <ui-select-choices repeat="client in clientList | filter: $select.search">
                            <span ng-bind-html="client.clientName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3" style="position: relative;">
                    <p style="margin: 15px;position: absolute;top: 50%;transform: translate(0, -50%);">{{client.selected.clientStatus}}</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="app-content-body ">


        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <!-- .col -->
            <div class="col w-lg bg-light dk b-r bg-auto" id="aside">
                <div class="wrapper bg b-b">
                    <h3 class="m-n font-thin">Tarea</h3>
                </div>
                <div class="wrapper">
                    <form name="taskForm" novalidate ng-submit="submit()">
                        <input type="hidden" name="clientId" ng-model="task.clientId"/>
                        <div class="form-group">
                            <label>
                                <span ng-show="taskForm.taskType.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                                <span ng-hide="taskForm.taskType.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                                Tarea</label>
                            <select name="taskType" id="taskType" class="form-control" ng-model="task.taskTypeId" required>
                                <option value="">Seleccionar tipo de tarea</option>
                                <option ng-repeat="taskType in taskTypeList" value="{{taskType.id}}">{{taskType.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                <span ng-show="task.status==undefined"><i class="fa fa-exclamation-circle text-warning"></i></span>
                                <span ng-hide="task.status==undefined"><i class="fa fa-check-circle-o text-success"></i></span>
                                Estado</label>
                            <div class="radio">
                                <label class="i-checks i-checks-danger" >
                                    <input type="radio" name="status" ng-click="task.status = 1">
                                    <i></i>
                                    Por realizar
                                </label>
                            </div>
                            <div class="radio">
                                <label class="i-checks i-checks-warning">
                                    <input type="radio" name="status" ng-click="task.status = 2">
                                    <i></i>
                                    Pendiente retroalimentación
                                </label>
                            </div>
                            <div class="radio">
                                <label class="i-checks i-checks-success">
                                    <input type="radio" name="status" ng-click="task.status = 3">
                                    <i></i>
                                    Realizada
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><span ng-show="taskForm.taskDate.$error.required"><i class="fa fa-exclamation-circle text-warning"></i></span>
                                <span ng-hide="taskForm.taskDate.$error.required"><i class="fa fa-check-circle-o text-success"></i></span>
                                Fecha</label>
                            <div class="input-group">
                                <input type="text" name="taskDate" class="form-control" datepicker-popup="" ng-model="task.taskDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Hora</label>
                            <div class="input-group clockpicker">
                                <input type="text" class="form-control" ng-model="taskHour">
                                <span class="input-group-addon">
                                                 <span class="glyphicon glyphicon-time"></span>
                                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><span ng-show="task.description==undefined || task.description==''"><i class="fa fa-exclamation-circle text-warning"></i></span>
                                <span ng-hide="task.description==undefined || task.description==''"><i class="fa fa-check-circle-o text-success"></i></span>
                                Descripción
                            </label>
                            <textarea class="form-control" id="description" name="description" rows="6" placeholder="Type your message" ng-model="task.description" required></textarea>
                        </div>
                        <div class="m-t-md m-b-md">
                            <button class="btn btn-sm btn-primary" ng-hide="savingTask">Add an event</button>
                            <div class="progress" ng-show="savingTask">
                                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span>Guardando...</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col">
                <div class="wrapper" ng-show="showTimeLine">
                    <ul class="timeline" ng-show="loadedTimeLine">
                        <li class="tl-header">
                            <div class="btn btn-info">Tareas para {{client.selected.clientName}}</div>
                        </li>
                        <li class="tl-item tl-left" ng-repeat="task in clientTasks">
                            <div ng-class="{'tl-wrap b-danger': task.status == 1 , 'tl-wrap b-warning': task.status == 2, 'tl-wrap b-success': task.status == 3 } ">
                                <span class="tl-date">{{task.taskDate | date : 'MM/dd/yyyy'}}<span ng-show="hasHour(task)"><br/>{{task.taskDate | date : 'h:mma'}}</span></span>
                                <div ng-class="{'tl-content panel padder b-danger': task.status == 1 , 'tl-content panel padder b-warning': task.status == 2, 'tl-content panel padder b-success': task.status == 3 } ">
                                    <span ng-class="{'arrow arrow-danger left pull-up hidden-left': task.status == 1 , 'arrow arrow-warning left pull-up hidden-left': task.status == 2, 'arrow arrow-success left pull-up hidden-left': task.status == 3 } "></span>
                                    <span ng-class="{'arrow arrow-danger right pull-up visible-left': task.status == 1 , 'arrow arrow-warning right pull-up visible-left': task.status == 2, 'arrow arrow-success right pull-up visible-left': task.status == 3 } "
                                            class="arrow arrow-success right pull-up visible-left"></span>
                                    <div class="text-lt">
                                        <a ng-click="loadTask(task)">{{task.taskTypeName}}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-hide="loadedTimeLine">
                        <img src="/img/loading_small.svg" class="img-responsive" style="margin: 0 auto">
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>


    </div>
</div>
<!-- /content -->
<script type="text/javascript">
    $('.clockpicker').clockpicker({'autoclose':'true'});
    document.getElementsByName('status')[0].checked = true;
</script>