<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Proyecto GV</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	  <!--Angular dependencies-->
      <script src="/assets/js/angular.min.js"></script>
      <script src="/assets/js/angular-route.min.js"></script>
      <script src="/assets/js/angular-resource.min.js"></script>
      <script src="/assets/js/angular-cookies.min.js"></script>
      <script src="/assets/js/app/services.js"></script>
	  <script src="/assets/js/login/controllers.js"></script>
	  <script src="/assets/js/login/google.js"></script>
	  <!-- End angular dependencies-->

      <style>
          .modal-content-no-bk {
            background-color: initial!important;
            border: initial !important;
          }
      </style>
  </head>

  <body ng-controller="LoginCtrl">

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page" style="display:none">
	  	<div class="container">
	  	
		      <form name="loginForm" class="form-login" ng-submit="submit()">
		        <h2 class="form-login-heading">Bienvenido</h2>
		        <div class="login-wrap">
		            <input ng-model="login" type="text" class="form-control" placeholder="Email" autofocus>
		            <br>
		            <input ng-model="password" type="password" class="form-control" placeholder="Password">
		            <label class="checkbox">
                        <span class="pull-left text-danger" ng-show="loginValidation">
		                     Error autenticando usuario
		                </span>
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal"> Recuperar Password</a>
		
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> INGRESAR</button>

		
		        </div>
		
		          <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Recuperar Password</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Ingrese su correo electrónico para resetear su password.</p>
		                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="submit">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		
		      </form>	  	
	  	
	  	</div>
	  </div>

	  <div id="loadingModal" class="modal fade bs-example-modal-sm" data-backdrop="static" data-show="true" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-sm">
			  <div class="modal-content-no-bk">
				  <br/>
				  <div class="progress">
					  <div id="modalMessage" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("assets/img/login-bg.jpg", {speed: 500});
    </script>

	<script>
        function init() {
            google.appengine.gv.init('//' + window.location.host + '/_ah/api');
        }
	</script>
	  <script src="https://apis.google.com/js/client.js?onload=init"></script>

	  <script type="text/javascript">
		 $(function(){
			function alignModal(){
				var modalDialog = $(this).find(".modal-dialog");
				modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
			}
			// Align modal when it is displayed
			$(".modal").on("shown.bs.modal", alignModal);

			// Align modal when user resize the window
			$(window).on("resize", function(){
				$(".modal:visible").each(alignModal);
			});

			$('#loadingModal').modal('show');
		});
	</script>
  </body>
</html>
